body {
  background-color: rgb(151, 219, 48);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1,
h2 {
  text-align: center;
}
#holes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  justify-items: center;
  margin: 5vw;
}
.hole1,
.hole2,
.hole3,
.hole4,
.hole5,
.hole6,
.hole7,
.hole8,
.hole9 {
  background-color: black;
  border-radius: 50%;
  height: 12vh;
  width: 12vw;
  position: relative;
  overflow: hidden;
}
.mole {
  position: absolute;
  width: 50%;
  bottom: -45%;
  left: 25%;
  animation: appear 0.25s linear;
}
@keyframes appear {
  from {
    bottom: -70%;
  }
  to {
    bottom: -20%;
  }
}
button {
  display: block;
  margin: 2vh auto;
  text-align: center;
  height: 5vh;
  width: 10vw;
  background-color: white;
  border: 1px solid greenyellow;
  font-weight: 700;
  border-radius: 50%;
  font-size: 90%;
}
.stop{
    display: none;
}
